body{background-color: #ffffff;}




.bg-primary {
    background-color: #F1592A !important;
}

a.bg-primary:hover{
    background-color: #FBA830 !important;
}



.text-primary {    color: #F1592A !important;
}

a.text-primary:hover{
    color: #FBA830 !important;
}

.btn-primary{
    background-color: #F1592A !important;
    border-color: #F4852C !important;
    color: rgb(255, 255, 255) !important; 
}
.btn-primary:hover{
    background-color: #FBA830 !important;
    border-color: #F4852C !important;
    color: rgb(255, 255, 255) !important; 
}

.mx-6{
    margin-left: 7vw;
    margin-right: 7vw;
}

