
body {
    background-image: url('media/webpc-passthru.avif');
    /* background-size: cover; */
    /* background-repeat: repeat; */
}

.container {
    background-color: rgb(255, 255, 255); /* Adjust the opacity as needed */
    padding: 10px;
margin: auto;
}
.container2 {
    background-color: rgb(255, 255, 255); /* Adjust the opacity as needed */
    padding: 0px 50px; /* Adjust the padding as needed */
}

@media (max-width: 500px) {
    .container2 {
        padding: 0px; /* Revert to no padding when screen size is less than 500px */
    }
    body {
        background-image: none;
        
    }
}


.bg-primary {
    background-color: #F1592A !important;
}

a.bg-primary:hover{
    background-color: #FBA830 !important;
}



.text-primary {    color: #F1592A !important;
}

a.text-primary:hover{
    color: #FBA830 !important;
}

.btn-primary{
    background-color: #F1592A !important;
    border-color: #F4852C !important;
    color: rgb(255, 255, 255) !important; 
}
.btn-primary:hover{
    background-color: #FBA830 !important;
    border-color: #F4852C !important;
    color: rgb(255, 255, 255) !important; 
}

.mx-6{
    margin-left: 7vw;
    margin-right: 7vw;
}

